main {
  background-color: var(--neutral-gray-50);
  border-radius: 1.5rem;
  border: 1px solid var(--neutral-gray-300);
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  padding: 1.5rem;
  font-family: "Red Hat Display"; /* fuente del figma*/
  box-shadow: inset 0 0 3px var(--shadow); /* Sombra uniforme interna */

              
}